@import "../../themes.scss";

.footer {
	align-items: center;
	background-color: var(--colorPrimary);
	color: var(--textPrimary);
	display: flex;
	font-size: 0.9rem;
	height: 80px;
	justify-content: center;
}
