@import "themes.scss";

html {
	background: var(--background);
	background-color: var(--background);

	&::-webkit-scrollbar {
		border-radius: var(--borderRadius);
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		border-radius: var(--borderRadius);
		background: var(--scrollBarTrack);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: var(--borderRadius);
		background: var(--scrollBarThumb);
	}

	&::-webkit-scrollbar-thumb:hover {
		background: var(--scrollBarHover);
	}
}

.body {
	background: var(--background);
	background-color: var(--background) !important;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	min-height: 100vh;
	transition: var(--transition);
	width: 100%;

	.inner {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		transition: var(--transition);
		width: 100%;
	}

	.scrollToTop {
		align-items: center;
		background-color: var(--navSelectedBackground);
		border-radius: 50px;
		bottom: 3em;
		box-shadow: var(--boxShadowButton);
		color: var(--navSelectedColor);
		cursor: pointer;
		height: var(--navButtonSize);
		justify-content: center;
		margin: 5px;
		opacity: 0;
		padding: 5px;
		position: fixed;
		right: 3em;
		text-align: center;
		transition: var(--transition);
		width: var(--navButtonSize);
		z-index: 999;

		&:hover {
			background-color: var(--navHoverBackground);
			color: var(--navHoverColor);
			transform: scale(1.1);
		}

		& > * {
			position: relative;
			top: calc(20%);
		}
	}
}
