@import "themes.scss";

html {
	background-color: var(--colorSecondary) !important;

	&::-webkit-scrollbar {
		border-radius: var(--borderRadius);
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		border-radius: var(--borderRadius);
		background: var(--scrollBarTrack);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: var(--borderRadius);
		background: var(--scrollBarThumb);
	}

	&::-webkit-scrollbar-thumb:hover {
		background: var(--scrollBarHover);
	}
}

.body {
	background-color: var(--colorSecondary) !important;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	transition: var(--transition);
	width: 100%;
}
