@import "themes.scss";

//fonts

//standard classes
.size {
	font-size: var(--size);
}

.textPrimary {
	color: var(--textPrimary);
}

.textSecondary {
	color: var(--textSecondary);
}

.colorPrimary {
	background-color: var(--colorPriamry);
}

.colorSecondary {
	background-color: var(--colorSecondary);
}

.accentPrimary {
	background-color: var(--accentPrimary);
}

.accentSeconary {
	background-color: var(--accentSecondary);
}

.body {
	background-color: var(--colorSecondary);
	height: 100vh;
	position: absolute;
	width: 100vw;
	z-index: -100;
}
