:root {
	--borderRadius: 8px;
	--boxShadowHover: 0 10px 14px rgba(0, 0, 0, 0.25);
	--boxShadow: 0 10px 14px rgba(0, 0, 0, 0.1);
	--boxShadowNav: 0 1px 10px rgba(0, 0, 0, 0.2);
	--boxShadowButton: 0 4px 7px rgba(0, 0, 0, 0.4);
	--fontMerriweather: Merriweather;
	--fontMerriweatherItalic: Merriweather-Italic;
	--fontPlayfair: Playfair;
	--navButtonSize: calc(var(--navSize) * 0.5);
	--navSize: 80px;
	--quoteBackground: rgba(0, 0, 0, 0.1);
	--searchBorderRadiusTop: 8px 8px 0 0;
	--searchBorderRadiusBottom: 0 0 8px 8px;
	--textHeader: 2.2rem;
	--transition: 0.3s ease all;
}

:root[data-theme="light"] {
	--background: #f3f3f3;

	--navColor: #1f1f1f;
	--navSelectedBackground: #1f1f1f;
	--navSelectedColor: #f3f3f3;
	--navHoverBackground: #dadada;
	--navHoverColor: #101010;
	--navThemeColor: #1f1f1f;
	--navTextColor: #000;

	--footerColor: #fff;
	--footerBackground: #fff;

	--colorPrimary: #ffffff;
	--colorSecondary: #f3f3f3;

	--scrollBarTrack: #f3f3f3;
	--scrollBarThumb: #dcdcdc;
	--scrollBarHover: #afafaf;

	--searchBackground: #ffffff;
	--searchBorderBottom: 1px solid rgb(240, 240, 240);

	--textPrimary: #000;
	--textSecondary: #6a6a6a;
	--textShowOnAccent: #ffffff;
}

:root[data-theme="dark"] {
	--background: #212121;

	--navColor: #f3f3f3;
	--navSelectedBackground: #eee;
	--navSelectedColor: #000000;
	--navHoverBackground: #0e0e0e;
	--navHoverColor: #f3f3f3;
	--navThemeColor: #f3f3f3;
	--navTextColor: #eee;

	--searchBackground: #fff;

	--colorPrimary: #0e0e0e;
	--colorSecondary: #212121;

	--scrollBarTrack: #333333;
	--scrollBarThumb: #727272;
	--scrollBarHover: #595959;

	--searchBackground: #0c0c0c;
	--searchBorderBottom: 1px solid #131313;

	--textPrimary: #eee;
	--textSecondary: #9e9e9e;
	--textShowOnAccent: #161616;
}

:root[data-theme="gray"] {
	--background: linear-gradient(180deg, rgb(151, 151, 151) 0%, rgb(192, 192, 192) 100%);

	--navColor: #696f70;
	--navSelectedBackground: #383c3c;
	--navSelectedColor: #d5d5d5;
	--navHoverBackground: #696f70;
	--navHoverColor: #d5d5d5;
	--navThemeColor: #383c3c;
	--navTextColor: #090909;

	--colorPrimary: #929292;
	--colorSecondary: #b6b6b6;

	--scrollBarTrack: #333333;
	--scrollBarThumb: #727272;
	--scrollBarHover: #595959;

	--searchBackground: #0c0c0c;
	--searchBorderBottom: 1px solid #131313;

	--textPrimary: #090909;
	--textSecondary: #3a3c3c;
	--textShowOnAccent: #ffffff;
}

:root[data-theme="green"] {
	--background: #105536;

	--navColor: #f3f3f3;
	--navSelectedBackground: #15975a;
	--navSelectedColor: #101010;
	--navHoverBackground: #60ac88;
	--navHoverColor: #101010;
	--navThemeColor: #15975a;
	--navTextColor: #e8ffef;

	--colorPrimary: #0e4b2e;
	--colorSecondary: #105536;

	--scrollBarTrack: #333333;
	--scrollBarThumb: #727272;
	--scrollBarHover: #595959;

	--searchBackground: #0c0c0c;
	--searchBorderBottom: 1px solid #131313;

	--textPrimary: #e8ffef;
	--textSecondary: #9ab6a2;
	--textShowOnAccent: #ffffff;
}

:root[data-theme="blue"] {
	--background: #163d57;

	--navColor: #f3f3f3;
	--navSelectedBackground: #fd3a2c;
	--navSelectedColor: #101010;
	--navHoverBackground: #b10c00;
	--navHoverColor: #101010;
	--navThemeColor: #fd3a2c;
	--navTextColor: #e8ffef;

	--colorPrimary: #10506d;
	--colorSecondary: #163d57;

	--scrollBarTrack: #333333;
	--scrollBarThumb: #727272;
	--scrollBarHover: #595959;

	--searchBackground: #0c0c0c;
	--searchBorderBottom: 1px solid #131313;

	--textPrimary: #e8ffef;
	--textSecondary: #9ab6a2;
	--textShowOnAccent: #ffffff;
}

@font-face {
	font-family: Playfair;
	src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
	font-family: Playfair-Italic;
	src: url(./fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@font-face {
	font-family: Merriweather;
	src: url(./fonts/Merriweather-Regular.ttf);
}

@font-face {
	font-family: Merriweather-Italic;
	src: url(./fonts/Merriweather-Italic.ttf);
}
