@import "../../themes.scss";

.nav {
	background-color: var(--colorPrimary);
	box-shadow: var(--boxShadowNav);
	display: flex;
	height: var(--navSize);
	padding: 0 8vw;

	.navName {
		align-items: center;
		color: var(--textPrimary);
		display: flex;
		flex-grow: 1;
		font-family: var(--fontPlayfair);
		font-size: 2.5rem;
	}

	.navLinks {
		color: var(--textPrimary);
		align-items: center;
		display: flex;
		flex-grow: 4;
		justify-content: end;
		text-decoration: none;

		.navLinkSelected {
			background-color: var(--accentPrimary) !important;
			color: var(--textShowOnAccent) !important;
		}

		.navLink {
			align-items: center;
			background-color: transparent;
			border-radius: 50%;
			color: var(--textPrimary);
			display: flex;
			font-family: var(--fontMerriweather);
			height: var(--navButtonSize);
			justify-content: center;
			margin: 5px;
			padding: 5px;
			text-decoration: none;
			transition: all ease 0.3s;
			width: var(--navButtonSize);

			&:hover {
				box-shadow: var(--boxShadowButton);
				transition: var(--transition);
				transform: scale(1.2);
			}

			&:visited {
				color: var(--textPrimary);
				text-decoration: none;
			}
		}
	}
}
